<div class='top-selector'>
  <div>
    Select currency to exhange:
  </div>
  <select name="currency" id="currency">
    <option value="USD">USD</option>
    <option value="RUB">RUB</option>
    <option value="GBP">GBP</option>
  </select>
</div>

<div class='currency-list'>
  <div class='cripto'>
    <div>Ethereum</div>
    <img src="./img/ethereum.png" alt="">
    <table>
      <tr>
        <td>Price:</td>
        <td id="price">$0.00</td>
      </tr>
      <tr>
        <td>Percent change</td>
        <td>
          <div class="trigger">
            <input type="checkbox" id="trig0" name="trig0" checked />
            <label for="trig0"><img src="./img/radio.png" alt=""></label>
          </div>
        </td>
      </tr>
      <tr>
        <td>Hour change</td>
        <td id="hour">+0%</td>
      </tr>
      <tr>
        <td>Day change</td>
        <td id="day">+0%</td>
      </tr>
      <tr>
        <td>Week change</td>
        <td id="week">+0%</td>
      </tr>
      <tr>
        <td>Month change</td>
        <td id="month">+0%</td>
      </tr>
    </table>
  </div>
  <div class='cripto'>
    <div>Litecoin</div>
    <img src="./img/litecoin.png" alt="">
    <table>
      <tr>
        <td>Price:</td>
        <td id="price">$0.00</td>
      </tr>
      <tr>
        <td>Percent change</td>
        <td>
          <div class="trigger">  
            <input type="checkbox" id="trig1" name="trig1" checked />
            <label for="trig1"><img src="./img/radio.png" alt=""></label>
          </div>
        </td>
      </tr>
      <tr>
        <td>Hour change</td>
        <td id="hour">+0%</td>
      </tr>
      <tr>
        <td>Day change</td>
        <td id="day">+0%</td>
      </tr>
      <tr>
        <td>Week change</td>
        <td id="week">+0%</td>
      </tr>
      <tr>
        <td>Month change</td>
        <td id="month">+0%</td>
      </tr>
    </table>
  </div>
  <div class='cripto'>
    <div>Bitcoin</div>
    <img src="./img/bitcoin.png" alt="">
    <table>
      <tr>
        <td>Price:</td>
        <td id="price">$0.00</td>
      </tr>
      <tr>
        <td>Percent change</td>
        <td>
          <div class="trigger">  
            <input type="checkbox" id="trig2" name="trig2" />
            <label for="trig2"><img src="./img/radio.png" alt=""></label>
          </div>
        </td>
      </tr>
      <tr>
        <td>Hour change</td>
        <td id="hour">+0%</td>
      </tr>
      <tr>
        <td>Day change</td>
        <td id="day">+0%</td>
      </tr>
      <tr>
        <td>Week change</td>
        <td id="week">+0%</td>
      </tr>
      <tr>
        <td>Month change</td>
        <td id="month">+0%</td>
      </tr>
    </table>
  </div>
</div>